@use "../../styles/colors";

.button{
    //color: colors.$text_primary;
   // background-color: colors.$primary_main;
    width: 80%;
    padding-top: 5%;
}
.login-form{
    width: 20%;
}
.text-field{
    padding-bottom: 15px;
}